#footer_wrapper {
    background: url("../img/background_footer.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 144px;
    left: 20px;
    margin: -9em auto;
    position: absolute;
    right: 19px; 
    width: 1300px;
}
footer {
}
.content_footer {
    position: relative;
    right: 100px;
    text-align: right;
    top: 80px;
}
.inline_block {
	display: inline-block;
}
.content_footer p {
    color: #FFFFFF;
    margin: 0 5em 0 0;
}
.content_social_network a {
	margin-right: 3em;
}
#content_map {
    height: 650px;
    width: 100%;
}
section#form_contact_us {
height: 0;
}
form#contact_us {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 14em;
    left: 9em;
    padding: 5em;
    position: relative;
    text-align: center;
    top: 1em;
    width: 16em;
    z-index: 999;
}
#contact_us input {
border: 1px solid #e5e5e5;
width: 100%;
margin: 0.5em 0;
padding: 5px;
font-family: "Open Sans";
}
#contact_us textarea {
    border: 1px solid #E5E5E5;
    font-family: "Open Sans";
    margin-top: 0.5em;
    padding: 5px;
    resize: none;
    width: 100%;
}
#send_contact_us_info {
    background: url("../img/icon_ready.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none !important;
    height: 5em;
    text-indent: 9999px;
    width: 4.8em !important;
}