body {
	font-family: "Open Sans";
}
#wrapper {
	width: 100%;
	background-color: #F5F5F5;
	
	background-image: url('../img/sky.png');
	background-position: 0 top;
	overflow:hidden;
	background-attachment: fixed;
}

#container {
	max-width: 900px;	
	background-color: #fff;
	margin: 0 auto;
	min-height: 1000px;
	box-shadow: 0px 10px 10px 5px #888888;
	

}
#logo {
	width: 220px;
	margin: 10px;
}
header {
	background-image: url('../img/header_bg.png')
}
header > div {
	display: inline-block;
}
section {
	position: relative;
}
section > p, section > h1, section > h2 {
	margin: 10px;
}
h5 {
	margin: 0;
	color: #0068DB;
}
.cx-nav-blue {
	float: right;
	margin-right: 20px;
}
.cx-nav-blue > nav > ul > li {
	display: inline-block;
	background-color: #4E7CB6;
	height: 100px;
	border: 1px solid #000;
	width: 40px;
}

.cx-nav-blue > nav {
	margin-top: -17px;
}
.cx-nav-blue > nav > ul > li > a {
	display: inline-block;
	margin-top: 60px;
	margin-left: 4px;
}
.cx-nav-icons {
	float: right;

}
.cx-nav-icons > nav > ul > li {
	display: inline-block;	
}
.cx-nav-icons > nav > ul > li > a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 13px;
 }

 .cx-nav-icons > nav > ul > li > a > span {
	width: 80px;
	display: inline-block;
	margin-left: 6px;
 }
.cx-team-list {
	list-style-type: none;
	max-width: 675px;
	margin: 0 auto;
}

.cx-team-list > li > div {
	display: inline-block;
	vertical-align: top;
}
.cx-team-picture > img {	
	border-radius: 3em;
	width: 70px;
	height: 70px;
}
.cx-team-list li {
	display: inline-block;
	width: 310px;
	margin: 10px;
}
.cx-form-image {
	margin-left:6px;
	background-image: url('../img/ideas_medium.png');
	background-repeat: no-repeat;
	width: 519px;
	height: 365px;
	position: relative;
}

.cx-form-image span {
	color: #7E7E7E;
}

.cx-form-image > div {
	width: 212px;
	position: absolute;

}
.cx-form-image > div:nth-child(1) {
	left: 49px;
	top: 0;
}

.cx-form-image > div:nth-child(2) {
	left: 308px;
	top: 67px;
}
.cx-separator {	
	margin-top: -18px;
	width: 100%;	
}
.cx-separator > div {
	display: inline-block;
}
.cx-separator-content {
	background-image: url('../img/separator_content.png');	
	height: 34px;
	width: 80%;
	background-repeat: repeat-x;
}
.cx-separator-right {
	background-image: url('../img/separator_right.png');
	width: 42px;
	height: 34px;
	background-repeat: no-repeat;
	margin-left: -6px;
}
.cx-header-sticky {
	position:fixed;
    top:0;    
    z-index: 10000;
    margin: 0 auto;
    height: 57px;
}
.cx-logo  {
	background-image: url('../img/logo_medium.png');
	width: 219px;
	height: 134px;
}
.cx-logo-line {
	background-image: url('../img/logo_line.png');
	width: 244px;
	height: 57px;
}
.cx-header-sticky .cx-logo {
	background-image: url('../img/logo_line.png');
	width: 244px;
	height: 57px;
}
.cx-header-sticky #logo {
	margin-top: 0;
}
.cx-header-sticky .cx-nav-blue > nav > ul > li {
	height: 50px;
}

.cx-header-sticky .cx-nav-blue > nav > ul > li > a {
	margin-top: 16px;
}

#container < .cx-header-sticky {
	margin-top: 157px !important;
}

.cx-header-sticky #container:parent {
	margin-top: 157px !important;
}

h1, h2, strong {
	color: #4B7AB8;
}


blockquote {
	font-style: italic;
	font-size: 13px;
	margin: 0 45px;
}

#team {		
	margin-top: -10px;
}

 #form {
    background-color: #F5F5F5;    
}
#form #form_wrapper {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #EADCCD;
    padding: 30px;
    position: absolute;
    right: 6px;
    top: 5px;
}
#form #form_wrapper #send_idea input, #form #form_wrapper #send_idea textarea, #form #form_wrapper #send_idea label {
    display: block;
}
#form #form_wrapper #send_idea textarea {
    height: 100px;
    margin-bottom: 50px;
}
#form #form_wrapper #send_idea input, #form #form_wrapper #send_idea textarea {
    border: 1px solid #EADCCD;
    border-radius: 5px;
    color: #897765;
    padding: 6px;
    width: 220px;
}
#form #form_wrapper #send_idea input[type="submit"] {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/background_button_idea.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0 auto;
    width: 123px;
}
#form #form_wrapper #send_idea #submit_wrapper {
    background-color: #F8F3F0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

.clear {
	clear: both;
}

#content_map {
    height: 474px;
    width: 100%;
}
section#form_contact_us {
    height: 0;
}
form#contact_us {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    border-radius: 14em;
    left: 1em;
    padding: 5em;
    position: relative;
    text-align: center;
    top: 0;
    width: 16em;
    z-index: 999;
}
#contact_us input {
    border: 1px solid #E5E5E5;
    font-family: "Open Sans";
    margin: 0.5em 0;
    padding: 5px;
    width: 100%;
}
#contact_us textarea {
    border: 1px solid #E5E5E5;
    font-family: "Open Sans";
    margin-top: 0.5em;
    padding: 5px;
    resize: none;
    width: 100%;
}
#send_contact_us_info {
    background: url("../img/icon_ready.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none !important;
    height: 5em;
    text-indent: 9999px;
    width: 4.8em !important;
}

#footer_wrapper {
    background: url("../img/background_footer.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100px;
    left: 0;
    margin: -100px auto;
    position: absolute;
    right: 19px;
    width: 900px;
}
footer {	
	position: relative;
	width: 100%;
}
.content_footer {
    position: relative;
    right: 100px;
    text-align: right;
    top: 67px;
}
.inline_block {
    display: inline-block;
}
.content_footer p {
    color: #FFFFFF;
    margin: 0 5em 0 0;
}
.content_social_network a {
    margin-right: 3em;
}